#content
  border: 1px solid #999
  margin: 1 rem 0

#search
  border: 1px solid #999
  margin: 1 rem 0

#meta
  background: #eee
  padding: 1 rem
  min-height: 4rem

#chart
  border: 1px solid #999
  min-height: 4 rem

footer
  text-align: center

