html {
  font-size: 125%; }

body {
  font-size: 1rem;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", sans-serif; }

input,
button,
textarea {
  font: inherit; }

p {
  font-family: "Minion", "Georgia", "Times New Roman"; }

button {
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  background: ghostwhite;
  font: inherit;
  border: 1px solid #333333;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 0 0 0 transparent;
  transition-property: border, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease; }
  button:not(:last-of-type) {
    margin-right: 0.5rem; }
  button:hover {
    background: white; }
  button:focus {
    outline: none;
    border-color: #72a1ef;
    box-shadow: 0 0 2px 2px #72a1ef; }

.btn--dem {
  background: #013f8a; }

.btn--rep {
  background: #920005; }

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  border: 1px solid #333333;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 0 0 0 transparent;
  transition-property: border, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="url"]:focus,
  input[type="color"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus {
    outline: none;
    border-color: #72a1ef;
    box-shadow: 0 0 2px 2px #72a1ef; }

.form-field {
  margin: 1rem 0; }

.results-container {
  list-style-type: none;
  padding: 0; }

.bill-result {
  border-bottom: 1px solid #cccccc;
  cursor: pointer; }
  .bill-result:hover {
    background: #cedef9; }
  .bill-result .bill-info {
    padding: 1rem; }
  .bill-result .bill-title {
    font-weight: bold; }
  .bill-result .bill-sponsor {
    margin-bottom: 0; }

.headshot img {
  width: 100%; }

html {
  font-size: 125%; }

header {
  margin: 1rem;
  padding: 0.5rem 0;
  border-top: 2px solid #013f8a;
  border-bottom: 2px solid #013f8a;
  background: #a9c6f5;
  position: relative;
  color: white;
  font-family: "Avenir Next";
  text-transform: uppercase; }
  header:before, header:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    border: 2.25rem solid transparent;
    top: 0; }
  header:before {
    left: 0;
    border-left: 2.25rem solid white; }
  header:after {
    right: 0;
    border-right: 2.25rem solid white; }

.header-items {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
  margin: 0; }
  .header-items a {
    color: white; }
    .header-items a:hover {
      color: #013f8a; }
  .header-items li {
    text-align: center; }
  .header-items .header-link {
    text-align: center;
    padding-top: 1.25rem; }
  .header-items .about {
    padding-left: 4rem; }
  .header-items .source {
    padding-right: 4rem; }
  .header-items .text {
    padding: 0 1rem;
    color: #920005;
    text-shadow: 2px 2px 0px white, 4px 4px 0px #013f8a; }
  .header-items h1 {
    flex: 1;
    font-weight: 700;
    font-size: 3rem;
    margin: 0; }
