#content {
  margin: 1 rem 0; }

#search {
  margin: 1 rem 0; }

#meta {
  background: #eeeeee;
  padding: 1 rem;
  min-height: 4rem; }

#chart {
  min-height: 4 em;
  height: 450px;
  overflow: scroll; }

#axis {
  min-height: 1 em; }

footer {
  text-align: center; }

.bar {
  shape-rendering: crispEdges; }

.democrat {
  fill: steelblue; }

.republican {
  fill: red; }

.axis text {
  font: 10px sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; }

.enter-bill input {
  display: inline-block;
  width: 38%;
  margin: 0 0.5%; }

.enter-bill button {
  display: inline-block;
  width: 20%;
  margin: 0 0.5%; }

.enter-search-string input {
  display: inline-block;
  width: 77%;
  margin: 0 0.5%; }

.enter-search-string button {
  display: inline-block;
  width: 20%;
  margin: 0 0.5%; }

.info-icon img {
  width: 35px;
  display: inline-block; }

.welcome-close img {
  width: 35px; }

.search-intro {
  padding: 0.25em; }

.search-results {
  width: auto; }

.search-results h3 {
  text-align: center; }
