doctype html
head
meta(charset='utf-8')
title Testing

body
  .container
    #info
    #search
    #chart
    #meta
  script(src='./js/bower_components.js')
  script(src='./js/index.js')
  script $( function() { App.start() })
