.bill-info
  p.bill-title Title: #{ short_title }
  if nicknames
    p.bill-nicknames Nicknames:
      each name, i in nicknames
        |  #{ name }
        - if(i < nicknames.length-1)
          |,
  p.bill-sponsor Sponsor: #{ sponsor.first_name } #{ sponsor.last_name }
