.row
  .col-sm-12
    h2 Team
    p Omnibus was created by <a href="https://github.com/omnibus-app/Omnibus">Mike Schippert</a>, <a href="https://github.com/wlabranche">Will LaBranche</a>, <a href="https://github.com/wcjohnson11">Will Johnson</a>, and <a href="https://github.com/nickb1080">Nick Bottomley</a> as a thesis project for the <a href="http://www.hackreactor.com/">Hack Reactor</a> software engineering immersion program.
.row
  .col-xs-3
    .headshot
      img(src="https://avatars0.githubusercontent.com/u/5643058?v=2&s=460")
    .name Mike Schippert
  .col-xs-3
    .headshot
      img(src="https://avatars2.githubusercontent.com/u/1312179?v=2&s=460")
    .name Will LaBranche
  .col-xs-3
    .headshot
      img(src="https://avatars1.githubusercontent.com/u/5373129?v=2&s=460")
    .name Will Johnson
  .col-xs-3
    .headshot
      img(src="https://avatars2.githubusercontent.com/u/3442934?v=2&s=460")
    .name Nick Bottomley

.row
  .col-sm-12
    h2 Tech Stack
    h3 Front-End
    p Omnibus is built on <a href="http://backbonejs.org/">Backbone</a> with <a href="http://marionettejs.com/">Marionette</a>, and written in <a href="http://coffeescript.org/">CoffeeScript</a>. We're using <a href="http://gulpjs.com/">Gulp</a> as a build system, along with <a href="browserify.org">Browserify</a> to compile CoffeeScript and <a href="http://jade-lang.com/">Jade</a> to JavaScript, manage the dependency graph, and bundle the application. Styles are written in <a href="http://sass-lang.com/">SASS</a>. We use <a href="">d3</a> to render data visualizations
    h3 Back-End
    p Omnibus is built on the <a href="">Omnibus web service</a>, a versataile hybrid web application/node module we built as part of this project. The API can be run as an independent application, mixed into an <a href="">Express</a> app as a router, or used directly through its JavaScript interface. For more details, check out the <a href="https://github.com/omnibus-app/omnibus-backend">repo on GitHub</a>.

