.row
  .column-md-12
    h2 Team
    p Omnibus was created by <a href="https://github.com/omnibus-app/Omnibus">Mike Schippert</a>, <a href="https://github.com/wlabranche">Will LaBranche</a>, <a href="https://github.com/wcjohnson11">Will Johnson</a>, and <a href="https://github.com/nickb1080">Nick Bottomley</a> as a thesis project for the <a href="http://www.hackreactor.com/">Hack Reactor</a> software engineering immersion program.
.row
  .column-md-3
    .headshot
      img(src="https://avatars0.githubusercontent.com/u/5643058?v=2&s=460")
    .name Mike Schippert
  .column-md-3
    .headshot
      img(src="https://avatars2.githubusercontent.com/u/1312179?v=2&s=460")
    .name Will LaBranche
  .column-md-3
    .headshot
      img(src="https://avatars1.githubusercontent.com/u/5373129?v=2&s=460")
    .name Will Johnson
  .column-md-3
    .headshot
      img(src="https://avatars2.githubusercontent.com/u/3442934?v=2&s=460")
    .name Nick Bottomley
