h4.search-intro If you know the Bill you're looking for go ahead and enter the congress and Bill numbers.  Or you can search through bills with keywords.
.enter-bill
  input(id='congress' type='number' max='113' placeholder='Enter Congress here')
  input(id='bill-number' placeholder='Enter the bill number here! ex. hr2397')
  button(id='find-bill') Show Bill
.enter-search-string
  input(id='find-input' placeholder='Enter Keywords to Search Bills')
  button(id='search-bills') Find Bills
p#information.info-icon
  img(src= "/info-icon.png")