
h1 Welcome to Omnibus!
p.
  An interactive legislation visualization app that will help you understand
  what's acutally going on in Washington D.C! We've preloaded one of our
  favorites, #{ results[ 0 ].bill }
p.
  Explore the chart and table below
  or use the search bar to search for a particular bill.
p.welcome-close close icon